<!DOCTYPE html>
<html>
<body>
    <div class="container">
        <h1>Data Collector App</h1>

        <nav style="margin: 20px;">
            <a href="{{url_for('home')}}">Home</a>
            <a href="{{url_for('contact')}}">Contact</a>
            <a href="{{url_for('upload_file')}}">Upload</a>
        </nav>

        <hr />

        <h2>{<code>%block content%</code>}</h2>
        {%block content%}
        {%endblock%}

        <hr />

        <h2>{<code>%block contact%</code>}</h2>
        {%block contact%}
        {%endblock%}

    </div>
    </body>
</html>