<!DOCTYPE html>
<html>
<body>
    <ul>
        <li><a href="{{url_for('home')}}">Home</a></li>
        <li><a href="{{url_for('about')}}">About</a></li>
    </ul>
    <div class="container">
        <h1>Data Collector App</h1>
        <form action="success.html" method="POST">
            <input name="email_name" type="text" value="" placeholder="email" title="your email" />
            <input name="height_name" type="number" value="" placeholder="height" title="your height" />
            <button type="submit">Submit</button>
        </form>
        {%block content%}
        {%endblock%}
    </div>
    </body>
</html>